# Football Manager Analysis

## Set-up Environment

In [15]:
# Import libraries
import os
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [16]:
# Set number of columns to display in dataframe to 60
pd.set_option('display.max_columns', 60)

### Set-up Folders

In [17]:
# Get the current working directory
path = '/Users/nicksolly/Dev/footballManager/'

## Import exported file from FM24 in html format

In [25]:

# Define the file name
file_name = '20230804-Squad-NCL-AllAtributes.html'

# Define the file path
file_path = os.path.join(path, 'data', 'raw', file_name)

print(f'File path: {file_path}')

# extract the date from the file name
file_date = file_name.split('-')[0]

print(f'Date: {file_date}')

File path: /Users/nicksolly/Dev/footballManager/data/raw/20230804-Squad-NCL-AllAtributes.html
Date: 20230804

In [19]:

# Import HTML file into pandas DataFrame using read_html
df_squad = pd.read_html(file_path, encoding='utf-8', header=0)[0]


df_squad.head()

,Reg,Inf,Name,Age,Wage,Transfer Value,Nat,2nd Nat,Position,Personality,Media Handling,Av Rat,Left Foot,Right Foot,Height,1v1,Acc,Aer,Agg,Agi,Ant,Bal,Bra,Cmd,Cnt,Cmp,Cro,Dec,Det,Dri,Fin,Fir,Fla,Han,Hea,Jum,Kic,Ldr,Lon,Mar,OtB,Pac,Pas,Pos,Ref,Sta,Str,Tck,Tea,Tec,Thr,TRO,Vis,Wor,UID,Cor,Club
0,NaN,NaN,Martin Dúbravka,34,"£45,000 p/w",£4.7M - £5.6M,SVK,NaN,GK,Resolute,Reserved,-,Reasonable,Very Strong,190 cm,16,13,15,9,12,15,13,14,12,10,12,1,11,15,1,1,11,14,14,3,15,14,13,2,5,3,9,12,15,17,10,12,3,12,10,11,14,12,10,63002306,1,Newcastle
1,NaN,Wnt,Emil Krafth,29,"£35,000 p/w",£2.3M - £5M,SWE,NaN,D/WB (R),Fairly Professional,Reserved,-,Weak,Very Strong,184 cm,2,14,1,11,13,13,15,13,1,12,12,13,12,13,11,7,11,8,2,12,12,4,8,10,12,12,15,12,13,1,14,13,13,13,13,3,1,14,14,93031462,8,Newcastle
2,NaN,Wnt,Jamaal Lascelles,29,"£55,000 p/w",£2.5M - £5.2M,ENG,NaN,D (C),Fairly Professional,Reserved,-,Fairly Strong,Very Strong,188 cm,1,11,1,15,10,13,11,15,2,11,11,4,12,14,8,5,10,4,3,15,15,3,17,3,14,8,13,10,12,2,14,16,15,15,10,1,3,4,15,28059634,3,Newcastle
3,NaN,NaN,Dan Burn,31,"£50,000 p/w",£11.5M - £14M,ENG,NaN,D (LC),Professional,Reserved,-,Very Strong,Weak,201 cm,3,9,3,13,8,15,8,17,1,14,13,9,14,16,9,9,12,8,3,14,19,3,13,4,15,9,12,13,15,1,15,16,15,17,12,2,3,10,17,29061164,7,Newcastle
4,NaN,NaN,Paul Dummett,31,"£40,000 p/w",£1.6M - £2.5M,WAL,ENG,D (LC),Fairly Professional,Reserved,-,Very Strong,Weak,183 cm,3,14,2,15,11,14,12,15,1,14,11,12,12,12,10,5,11,6,1,14,12,1,12,5,13,12,13,10,14,3,15,13,15,17,10,3,2,8,15,28029911,10,Newcastle

In [20]:
df_squad.describe()

,Reg,Age,1v1,Acc,Aer,Agg,Agi,Ant,Bal,Bra,Cmd,Cnt,Cmp,Cro,Dec,Det,Dri,Fin,Fir,Fla,Han,Hea,Jum,Kic,Ldr,Lon,Mar,OtB,Pac,Pas,Pos,Ref,Sta,Str,Tck,Tea,Tec,Thr,TRO,Vis,Wor,UID,Cor
count,0.0,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,8.300000e+01,83.000000
mean,NaN,21.795181,3.180723,12.433735,3.506024,10.722892,11.638554,9.939759,9.891566,10.698795,3.216867,9.277108,9.566265,8.337349,10.939759,12.120482,8.951807,7.879518,10.662651,8.879518,3.518072,8.445783,10.024096,3.120482,8.084337,6.963855,7.385542,9.180723,12.289157,10.144578,9.433735,3.518072,10.493976,9.180723,8.903614,10.542169,10.409639,2.879518,3.626506,9.108434,11.277108,9.126349e+08,6.891566
std,NaN,5.195587,3.335488,2.922548,3.576255,3.224575,2.611318,3.951997,3.467663,3.760303,3.174011,3.493245,3.765028,4.252050,2.859939,3.858464,4.629976,4.393447,3.524400,4.209158,3.848856,3.898884,3.460494,2.782338,3.994523,3.858617,4.207517,4.234425,2.578192,3.257758,3.777962,4.070601,4.232204,3.963691,4.326928,4.025229,3.916931,3.017823,3.789301,3.659308,4.109220,9.814396e+08,3.672615
min,NaN,15.000000,1.000000,3.000000,1.000000,5.000000,5.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.517410e+05,1.000000
25%,NaN,18.000000,2.000000,11.000000,2.000000,8.000000,10.000000,7.000000,7.000000,8.000000,2.000000,7.000000,6.500000,4.000000,9.000000,11.000000,5.000000,5.000000,9.000000,5.000000,1.000000,6.000000,8.000000,2.000000,5.000000,3.000000,3.500000,6.500000,11.000000,8.000000,6.000000,1.000000,7.000000,6.000000,5.500000,7.000000,8.500000,1.000000,2.000000,6.000000,8.000000,2.812591e+07,4.000000
50%,NaN,20.000000,2.000000,13.000000,3.000000,11.000000,12.000000,11.000000,10.000000,11.000000,2.000000,10.000000,10.000000,9.000000,12.000000,13.000000,10.000000,9.000000,11.000000,9.000000,2.000000,8.000000,10.000000,2.000000,8.000000,7.000000,7.000000,9.000000,13.000000,11.000000,10.000000,2.000000,12.000000,10.000000,10.000000,11.000000,12.000000,2.000000,3.000000,10.000000,12.000000,7.902423e+07,6.000000
75%,NaN,25.000000,3.000000,14.000000,3.000000,13.000000,13.000000,13.000000,13.000000,13.000000,3.000000,12.000000,12.000000,11.000000,13.000000,15.000000,12.000000,11.000000,13.000000,12.500000,3.000000,12.000000,12.000000,3.000000,11.000000,10.000000,11.000000,12.000000,14.000000,12.000000,12.000000,3.000000,14.000000,12.000000,12.000000,14.000000,13.000000,3.000000,3.000000,12.000000,14.000000,2.000190e+09,9.000000
max,NaN,34.000000,18.000000,19.000000,18.000000,17.000000,17.000000,19.000000,15.000000,20.000000,17.000000,15.000000,18.000000,18.000000,17.000000,19.000000,19.000000,19.000000,19.000000,19.000000,16.000000,16.000000,19.000000,14.000000,18.000000,14.000000,16.000000,16.000000,17.000000,18.000000,16.000000,17.000000,18.000000,18.000000,16.000000,19.000000,19.000000,17.000000,17.000000,17.000000,20.000000,2.000302e+09,20.000000

In [21]:
df_squad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 57 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Reg             0 non-null      float64
 1   Inf             48 non-null     object
 2   Name            83 non-null     object
 3   Age             83 non-null     int64
 4   Wage            83 non-null     object
 5   Transfer Value  83 non-null     object
 6   Nat             83 non-null     object
 7   2nd Nat         22 non-null     object
 8   Position        83 non-null     object
 9   Personality     83 non-null     object
 10  Media Handling  83 non-null     object
 11  Av Rat          83 non-null     object
 12  Left Foot       83 non-null     object
 13  Right Foot      83 non-null     object
 14  Height          83 non-null     object
 15  1v1             83 non-null     int64
 16  Acc             83 non-null     int64
 17  Aer             83 non-null     int64
 18  Agg             83 non-null     int64
 19  Agi             83 non-null     int64
 20  Ant             83 non-null     int64
 21  Bal             83 non-null     int64
 22  Bra             83 non-null     int64
 23  Cmd             83 non-null     int64
 24  Cnt             83 non-null     int64
 25  Cmp             83 non-null     int64
 26  Cro             83 non-null     int64
 27  Dec             83 non-null     int64
 28  Det             83 non-null     int64
 29  Dri             83 non-null     int64
 30  Fin             83 non-null     int64
 31  Fir             83 non-null     int64
 32  Fla             83 non-null     int64
 33  Han             83 non-null     int64
 34  Hea             83 non-null     int64
 35  Jum             83 non-null     int64
 36  Kic             83 non-null     int64
 37  Ldr             83 non-null     int64
 38  Lon             83 non-null     int64
 39  Mar             83 non-null     int64
 40  OtB             83 non-null     int64
 41  Pac             83 non-null     int64
 42  Pas             83 non-null     int64
 43  Pos             83 non-null     int64
 44  Ref             83 non-null     int64
 45  Sta             83 non-null     int64
 46  Str             83 non-null     int64
 47  Tck             83 non-null     int64
 48  Tea             83 non-null     int64
 49  Tec             83 non-null     int64
 50  Thr             83 non-null     int64
 51  TRO             83 non-null     int64
 52  Vis             83 non-null     int64
 53  Wor             83 non-null     int64
 54  UID             83 non-null     int64
 55  Cor             83 non-null     int64
 56  Club            83 non-null     object
dtypes: float64(1), int64(42), object(14)
memory usage: 37.1+ KB

In [26]:
# ydata profiling
profile = ProfileReport(df_squad, title='Pandas Profiling Report', explorative=True)
profile.to_file(f"../reports/ydata_profile/{file_date}-squad_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]